/* settings - start */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --body-backgroundColor: #fff;

  --nav-color: black;
  --logoIcon-filter: invert(0);
  --navActive-color: #fff;
  --navActive-backgroundColor: #06002d;
  --navHover-backgroundColor: rgba(0, 8, 255, 0.1);
  --footer-color: black;

  --c1: #efed5a;
  --c2: #593cc3;
  --c3: #00ff5e;
  --c4: #4714ff;

  --gray-color: #8e8e8e;
  --dark-color: #000000;

  --lpBase-backgroundColor: #d1d5db;
  --lpDone-backgroundColor: #00c853;
  --lpActive-backgroundColor: #ffd700;
}

.dark {
  --body-backgroundColor: #000;

  --nav-color: white;
  --logoIcon-filter: invert(1);
  --navActive-color: #000;
  --navActive-backgroundColor: #e7e3ff;
  --navHover-backgroundColor: rgba(0, 8, 255, 0.2);
  --footer-color: white;

  --c1: #ff9f1c;
  --c2: #2ec4b6;
  --c3: #e71d36;
  --c4: #ffbf69;
}

body {
  background-color: var(--body-backgroundColor);
  font-family: "Roboto", sans-serif;
  position: relative;
  isolation: isolate;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 96px;
  z-index: -1;
  background: conic-gradient(
    from 180deg at 50% 50%,
    var(--c1),
    var(--c2),
    var(--c3),
    var(--c4),
    var(--c1)
  );
  filter: blur(30px) saturate(120%);
  animation: spin 60s linear infinite;
  opacity: 0.5;
  border-radius: 16px;
  transition: background 0.4s ease;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* ******************** FONT SETTINGS - START ******************** */
h2 {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 8px;
}

h2 + p {
  margin-bottom: 16px;
  font-weight: 500;
}

h2 + p + p {
  margin-bottom: 16px;
}

h3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 16px;
}

h3 + p {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 300;
}

p,
nav,
nav button,
.createAccount-btn,
::placeholder,
input,
label,
.forgotPassword-btn {
  font-size: 1rem;
  letter-spacing: 0.15px;
  font-weight: 400;
}

.btn {
  font-size: 1.25rem;
  font-weight: 600;
}

.lang-btn {
  font-size: 0.9rem;
}

/* ******************** FONT SETTINGS - END ******************** */

/* ******************** NAVIGATION - START ******************** */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 999;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.nav-container {
  position: relative;
  padding: 0 24px;
  width: 100%;
  max-width: 1248px;
  display: flex;
}

/* Language  */
.lang-switcher {
  position: absolute;
  top: 58px;
  right: 0;
  padding: 24px;
  display: flex;
  gap: 8px;
  z-index: 10;
}

.lang-btn {
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 8px 12px;
  cursor: pointer;
  transition: filter 0.4s ease;
}

.lang-btn:hover {
  filter: brightness(0.95) saturate(1.05);
}

.lang-btn.active {
  background: #593cc3;
  color: #fff;
  border-color: #593cc3;
}

/* active link */
li.active {
  background-color: var(--navActive-backgroundColor);
  color: var(--navActive-color);
  cursor: default;
  pointer-events: none;
}

/* Nav logo */
#nav-logo {
  padding: 8px 8px;
}

#nav-logo > img {
  filter: var(--logoIcon-filter);
  width: 48px;
  height: 48px;
  transition: filter 0.4s ease;
}
/* Nav links and buttons */
.navbar {
  display: flex;
  list-style: none;
  width: 100%;
}

.navbar > li {
  position: relative;
  display: flex;
  cursor: pointer;
}

.nav-link > a,
.nav-button > button {
  position: relative;
  padding: 0 16px;
  color: var(--nav-color);
  transition: color 0.4s ease;
}

.nav-link > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
}

#portfolio-link {
  align-items: center;
  margin-right: auto;
}

.nav-button > button {
  background: none;
  border: none;
  cursor: inherit;
}

.navbar li::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 0%;
  background-color: var(--navHover-backgroundColor);
  border-radius: 0 0 4px 4px;
  z-index: -1;
  transition: height 0.4s ease;
}

li:hover::before {
  height: 100%;
}

.active {
  background-color: #000 !important;
  pointer-events: none !important;
  cursor: default !important;
}

.active button {
  color: white !important;
}

/* Theme Button */
#themeButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 600px;
  padding: 8px 8px;
}

.themeIcon-wrapper {
  position: relative;
  width: 48px;
  height: 48px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease;
}

.dark .themeIcon-wrapper {
  transform: rotateX(180deg);
}

.themeIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  backface-visibility: hidden;
  pointer-events: none;
}

.sun {
  transform: rotateX(0deg);
}

.moon {
  transform: rotateX(180deg);
}

body.dark .themeIcon-wrapper {
  transform: rotateX(180deg);
}

/* ******************** NAVIGATION - END ******************** */

/* ******************** BUTTON SETTINGS - START ******************** */
.btn {
  border: none;
  cursor: pointer;
  padding: 12px 24px;
  background-color: transparent;
  color: white;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    filter 0.3s ease;
}

.forgotPass-1 .next-btn {
  padding-left: 36px;
  padding-right: 36px;
}

.signUp-1 .next-btn {
  padding-left: 36px;
  padding-right: 36px;
}
.overlay .proceed-btn {
  background-color: #00ff5e;
}

.btn-secondary {
  background-color: #d5d5d5;
}

.btn-default {
  background: #b3b3b3;
}

.btn-typing {
  background: #ffbf00;
}

.btn-invalid {
  background: #ff5100;
}

.btn-valid {
  background: #00ff5e;
}

.btn:hover {
  filter: brightness(0.95) saturate(1.05);
}
/* ******************** BUTTON SETTINGS - END ******************** */

/* ******************** INPUT SETTINGS - START ******************** */
#forgotPass-2-verificationCode,
#signUp-2-verificationCode,
#signUp-4-verificationCode {
  max-width: 140px;
  padding-left: 12px;
  text-align: center;
}

#forgotPass-2-verificationCode.filled,
#signUp-2-verificationCode.filled,
#signUp-4-verificationCode.filled {
  border-color: #ffbf00 !important;
}

#forgotPass-2-verificationCode + label,
#signUp-2-verificationCode + label,
#signUp-4-verificationCode + label {
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.input-group textarea {
  resize: vertical;
}

.input-group {
  position: relative;
  margin-bottom: 16px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 12px 12px 12px 58px;
  border: 3px solid var(--gray-color);
  border-radius: 4px;
  outline: none;
  font-family: inherit;
  transition: border-color 0.4s ease;
}

.input-group input::placeholder,
.input-group textarea::placeholder {
  color: transparent;
  transition: color 0.3s ease;
}

.input-group input:focus::placeholder,
.input-group textarea:focus::placeholder {
  color: var(--gray-color);
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 52px;
  transform: translateY(-50%);
  color: var(--gray-color);
  pointer-events: none;
  background: #fff;
  padding: 0 8px;
  transition: 0.2s ease;
}

.input-group textarea + label {
  left: 20px;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label,
input:-webkit-autofill + label,
.input-group textarea:focus + label,
.input-group textarea:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-50%);
  color: var(--dark-color);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: filter 0.3s ease;
}

.show-pass {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  height: 100%;
  padding-right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 120ms ease;
}

.show-pass img {
  width: 24px;
  height: 24px;
  transition: filter 0.12s ease;
}

.show-pass:hover,
.show-pass:focus-visible {
  filter: brightness(0);
}

.input-group input[type="password"] {
  padding-right: 52px;
}

input:focus,
textarea:focus {
  border-color: var(--dark-color);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
}

input:focus-visible {
  border-color: var(--dark-color);
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.typing {
  border-color: #ffbf00;
}

input.valid {
  border-color: #00ff5e;
}

input.invalid {
  border-color: #ff5100;
}

.animate-border {
  animation: borderPulse 2s infinite ease-in-out;
}

input:focus ~ .input-icon {
  filter: brightness(0) saturate(100%);
}

input.typing ~ .input-icon {
  filter: brightness(0) saturate(100%) invert(64%) sepia(78%) saturate(1040%)
    hue-rotate(1deg) brightness(103%) contrast(103%);
}

input.valid ~ .input-icon {
  filter: brightness(0) saturate(100%) invert(61%) sepia(68%) saturate(467%)
    hue-rotate(75deg) brightness(110%) contrast(105%);
}

input.invalid ~ .input-icon {
  filter: brightness(0) saturate(100%) invert(23%) sepia(89%) saturate(7440%)
    hue-rotate(2deg) brightness(105%) contrast(116%);
}

.animate-border ~ .input-icon {
  animation: iconPulse 2s infinite ease-in-out;
}

input:focus ~ .show-pass img {
  filter: brightness(0) saturate(100%);
}

@keyframes borderPulse {
  0% {
    border-color: #ffbf00;
  }

  50% {
    border-color: #00ff5e;
  }

  100% {
    border-color: #ffbf00;
  }
}

@keyframes iconPulse {
  0% {
    filter: brightness(0) saturate(100%) invert(64%) sepia(78%) saturate(1040%)
      hue-rotate(1deg) brightness(103%) contrast(103%);
  }

  50% {
    filter: brightness(0) saturate(100%) invert(61%) sepia(68%) saturate(467%)
      hue-rotate(75deg) brightness(110%) contrast(105%);
  }

  100% {
    filter: brightness(0) saturate(100%) invert(64%) sepia(78%) saturate(1040%)
      hue-rotate(1deg) brightness(103%) contrast(103%);
  }
}
/* ******************** INPUT SETTINGS - END ******************** */

/* ******************** SECTION SETTINGS - START ******************** */
main {
  margin-top: 68px;
}

section {
  position: relative;
}

section > div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-height: calc(100vh - 68px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 24px;
}

.signIn-1,
.forgotPass-1,
.forgotPass-2,
.forgotPass-3,
.signUp-1,
.signUp-2,
.signUp-4,
.signUp-5 {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1000px;
}

.forgotPass-4,
.signUp-3 {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 500px;
}

.left,
.right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 100%;
  max-width: 500px;
  padding: 64px;
  flex: 1;
}

.left {
  color: #ffffff;
  background: linear-gradient(180deg, #6f7c57, #4793b1);
  background-size: 100% 400%;
  left: 0;
  z-index: 2;
  animation: gradientFlowVertical 10s ease-in-out infinite;
  transition:
    left 0.4s ease,
    transform 0.4s ease,
    opacity 1s ease;
}

@keyframes gradientFlowVertical {
  0% {
    background-position: 50% 0%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 50% 0%;
  }
}

.content {
  margin: auto 0;
}

.right {
  background-color: white;
  right: 0;
  z-index: 1;
  transition:
    right 0.4s ease,
    transform 0.4s ease,
    opacity 1s ease;
}

.right::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: white;
  z-index: 3;
  will-change: transform;
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.4s ease;
}

.centered .left {
  left: 50%;
  transform: translateX(-50%);
}

.centered .right {
  right: 50%;
  transform: scale(0) translateX(50%);
}

.centered .right::after {
  transform: scale(1);
}

.centered .createAccount-btn {
  display: none;
}

.hideWith-opacity .left,
.hideWith-opacity .right {
  opacity: 0;
  pointer-events: none;
}

.hideWith-display {
  display: none;
}

.centered #signUp-3-right,
.centered #forgotPass-4-right {
  right: 0;
  transform: translateX(0);
}
/* ******************** SECTION SETTINGS - END ******************** */

/* ******************** SIGN IN - START ******************** */
/* ********** SIGN IN 1 - START ********** */
/* SIGN IN 1 LEFT */
.createAccount-btn {
  display: inline-block;
  background: none;
  border: none;
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
  padding: 0;
  text-align: center;
  transition: opacity 0.4s ease;
}

.CA-BTN-rightText {
  margin-left: 8px;
  display: inline-block;
  color: #ff44f3;
  will-change: transform;
  transition: transform 0.4s ease;
}

.createAccount-btn:hover .CA-BTN-rightText {
  transform: scale(1.1);
}

/* SIGN IN 1 RIGHT */
form {
  width: 100%;
  max-width: 320px;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 8px;
  color: black;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 16px;
}

.remember-me input[type="checkbox"] {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.forgotPassword-btn {
  background: none;
  border: none;
  display: block;
  color: black;
  cursor: pointer;
  text-decoration: underline;
  margin: 0 auto 16px auto;
  transition: color 0.4s ease;
}

.forgotPassword-btn:hover {
  color: var(--dark-color);
}

/* ********** SIGN IN 1 - END ********** */
/* ******************** SIGN IN - END ******************** */

/* ******************** FORGOT PASSWORD - START ******************** */
/* ********** FORGOT PASSWORD 1 - START ********** */
/* FORGOT PASSWORD 1 RIGHT */
.button-group {
  display: flex;
  justify-content: space-between;
}
/* ********** FORGOT PASSWORD 1 - END ********** */

/* ********** FORGOT PASSWORD 4 - START ********** */
/* FORGOT PASSWORD 4 RIGHT */
.forgotPass-4 h3 + p {
  margin-bottom: 16px;
}
/* ********** FORGOT PASSWORD 4 - END ********** */
/* ******************** FORGOT PASSWORD - END ******************** */

/* ******************** SIGN UP - START ******************** */
/* ********** SIGN UP 1 - START ********** */
/* SIGN UP 1 RIGHT */
.button-group {
  display: flex;
  justify-content: space-between;
}
/* ********** SIGN UP 1 - END ********** */

/* ********** SIGN UP 3 - START ********** */
/* SIGN UP 3 RIGHT */
/* SIGN UP 3 RIGHT - SETTINGS */
/* REQUIRED */
.required::after {
  content: " *";
  color: #e63946;
}

.required,
.optional {
  margin-bottom: 12px;
}

.signUp-fullname > div > .input-group,
.signUp-birthday > div > .input-group,
.signUp-location > div > .input-group,
.signUp-bio > .input-group {
  flex: 1;
  margin-bottom: 0;
}

.signUp-fullname > div,
.signUp-birthday > div,
.signUp-location > div,
.signUp-bio > .input-group {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 16px;
}
.signUp-fullname input,
.signUp-birthday input,
.signUp-phone input,
.signUp-location input,
.signUp-bio textarea {
  padding-left: 12px;
}

.signUp-fullname label,
.signUp-birthday label,
.signUp-phone label,
.signUp-location label,
.signUp-bio label {
  left: 12px;
}
/* OPTIONAL */
.optional-p {
  color: #ff9d00;
  margin-bottom: 8px;
}

/* GENDER */
.gender-group {
  display: flex;
  justify-content: space-around;
}

.gender-option {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--gray-color);
  cursor: pointer;
  position: relative;
  margin-bottom: 16px;
}

.gender-group input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.custom-radio {
  width: 24px;
  height: 24px;
  border: 2px solid #8e8e8e;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: #fff;
  transition: border-color 0.4s ease;
}

.custom-radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition:
    transform 0.4s ease,
    background-color 0.4s ease,
    opacity 0.4s ease;
}

.gender-group input[type="radio"]:checked + label {
  color: black;
}

.gender-group input[type="radio"]:checked + label .custom-radio {
  border-color: var(--dark-color);
}

.gender-group input[type="radio"]:checked + label .custom-radio::after {
  background-color: #000;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
/* BIO */
#sign-up-bio {
  height: 140px;
  resize: vertical;
}

/* ********** SIGN UP 3 - END ********** */
/* ********** SIGN UP 3 CONFIRMATION - START ********** */
.overlay {
  position: fixed;
  padding: 24px;
  inset: 0;
  z-index: 3000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.55);
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.18s ease;
}

.overlay.close {
  opacity: 0;
  pointer-events: none;
}

.overlay-panel {
  text-align: center;
  background-color: white;
  width: 100%;
  max-width: 500px;
  border-radius: 4px;
  padding: 32px;
  margin-top: 24px;
  position: relative;
  transform: translateY(0);
  transition: transform 0.2s ease;
}

.overlay.close .overlay-panel {
  transform: translateY(-12px);
}

.overlay-title {
  font-size: 18px;
  margin-bottom: 16px;
}

.overlay-buttons {
  display: flex;
  justify-content: space-around;
}

/* ********** SIGN UP 3 CONFIRMATION - END ********** */

/* ********** SIGN UP 5 - START ********** */
/* SIGN UP 5 RIGHT */
.checkmark-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.checkmark {
  width: 200px;
  height: 200px;
  stroke: #00ff5e;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  background: none;
}

.checkmark-circle {
  stroke: #00ff5e;
  stroke-dasharray: 339.292;
  stroke-dashoffset: 339.292;
  animation: draw-circle 0.8s ease-out forwards;
}

.checkmark-check {
  stroke: #00ff5e;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: draw-check 0.5s ease-out 0.8s forwards;
}

@keyframes draw-circle {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-check {
  to {
    stroke-dashoffset: 0;
  }
}

#signUp-5-right > p {
  margin-bottom: 16px;
}
/* ********** SIGN UP 5 - END ********** */
/* ******************** SIGN UP - END ******************** */
/* ******************** FOOTER - START ******************** */
footer {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;
  color: var(--footer-color);
  opacity: 0.8;
  pointer-events: none;
  z-index: 500;
  transition: color 0.4s ease;
}

footer > div {
  width: 100%;
  max-width: 1248px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
/* ******************** FOOTER - END ******************** */
@media (max-width: 991.98px) {
  .left {
    display: none;
  }

  .signIn-1,
  .forgotPass-1,
  .forgotPass-2,
  .forgotPass-3,
  .signUp-1,
  .signUp-2,
  .signUp-4,
  .signUp-5 {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 500px;
  }

  .centered .right {
    right: 0;
    transform: scale(0);
  }
}

@media (max-width: 548px) {
  html {
    font-size: 14px;
  }

  .nav-link > a,
  .nav-button > button {
    padding: 0 12px;
  }
}
