/* settings - start */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --background-nav: #E7E3FF;
    --gray-color: #8E8E8E;
    --dark-color: #000000;
    --input-radius: 8px;
    --transition-fast: 0.2s ease;
}

.dark {
    --background-nav: #06002D;
}

body {
    font-family: 'Roboto', sans-serif;
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navbar a,
p,
::placeholder,
input,
label {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.15px;
    font-weight: 400;
}

h2 {
    font-size: 1.375rem;
    line-height: 1.5;
    font-weight: 600;
}

h2+p {
    margin-top: 8px;
    margin-bottom: 24px;
    font-weight: 500;
    opacity: 0.5;
}

h3 {
    font-size: 2.25rem;
    line-height: 1.5;
    font-weight: 700;
}

h3+p {
    margin-top: 16px;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 300;
}

/* settings - end */

/* nav - start */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    background-color: var(--background-nav);
    z-index: 1000;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 25%);
    height: auto;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

#navbarLogo,
#themeIcon {
    width: 48px;
    height: 48px;
    margin: 0 16px;
}

.navbar a {
    position: relative;
    text-decoration: none;
    color: #000;
    padding: 20px 16px;
    transition: color var(--transition-fast), transform var(--transition-fast);
}

.navbar a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: rgba(142, 132, 255, 0.1);
    z-index: -1;
    transition: height var(--transition-fast);
}

.navbar a:hover::before {
    height: 100%;
}

.navbar a:hover {
    color: var(--dark-color);
    transform: scale(1.05);
}

#modeSwitch {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* nav - end */

/* main - start */
main {
    display: flex;
    margin-top: 64px;
    min-height: calc(100svh - 88px);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

/* sections container settings*/

.container {
    display: none;
    /* görünür olduğunda flex olacak */
    justify-content: space-between;
    align-items: stretch;
    max-width: 1000px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 25%);
}

.btn {
    height: auto;
    padding: 12px 16px;
    color: white;
    border-radius: var(--input-radius);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(142, 142, 142, 0.15);
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    cursor: pointer;
}

.left,
.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left {
    color: #FFFFFF;
    padding: 0 32px;

}

.right {
    background-color: #FFFFFF;
    padding: 54px 64px;
}

/* input settings */
.input-group {
    position: relative;
    margin-top: 24px;
}

.input-group input,
.input-group textarea {
    width: 372px;
    padding: 12px 12px 12px 58px;
    border: 3px solid var(--gray-color);
    border-radius: var(--input-radius);
    outline: none;
    font-family: inherit;
    transition: border-color var(--transition-fast);
}

.input-group textarea {
    padding-left: 20px;
    min-height: 120px;
    resize: none;
}

.input-group input::placeholder,
.input-group textarea::placeholder {
    color: transparent;
    transition: color 0.3s ease;
}

.input-group input:focus::placeholder,
.input-group textarea:focus::placeholder {
    color: var(--gray-color);
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    color: var(--gray-color);
    pointer-events: none;
    background: #fff;
    padding: 0 8px;
    transition: var(--transition-fast);
}

.input-group textarea+label {
    left: 20px;
}

.input-group input:focus+label,
.input-group input:not(:placeholder-shown)+label,
input:-webkit-autofill+label,
.input-group textarea:focus+label,
.input-group textarea:not(:placeholder-shown)+label {
    top: 0;
    transform: translateY(-50%);
    color: var(--dark-color);
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 18px;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    pointer-events: none;
}

.show-pass {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.show-pass img {
    width: 24px;
    height: 24px;
}

.input-group input[type="password"] {
    padding-right: 52px;
}

input:focus,
textarea:focus {
    border-color: var(--dark-color);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    box-shadow: 0 0 0px 1000px white inset !important;
}

input:focus-visible {
    border-color: var(--dark-color);
    outline: none;
}

input.typing {
    border-color: #FFBF00;
}

input.valid {
    border-color: #00FF5E;
}

input.invalid {
    border-color: #FF5100;
}

/* Number input: ok işaretlerini kaldır */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* sign in - start */
#sign-in-container1 {
    display: none;
    /* görünür olduğunda flex olacak */
    overflow: hidden;
}

#sign-in-left1 {
    position: relative;
    background: linear-gradient(180deg, #6F7C57, #4793B1);
    animation: gradientFlowVertical 10s ease-in-out infinite;
    background-size: 100% 400%;
}

.sign-up-text {
    position: absolute;
    bottom: 24px;
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    cursor: pointer;
    padding: 0;
    text-align: center;
}

.sign-up-text span {
    margin-left: 8px;
    display: inline-block;
    color: #FF44F3;
    will-change: transform;
    transition: transform 0.4s ease;
}

.sign-up-text:hover span {
    transform: scale(1.1);
}

.sign-in-form1 {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 8px;
    color: var(--gray-color);
    font-size: 1rem;
    font-weight: 400;
    justify-content: flex-start;
}

.remember-me input[type="checkbox"] {
    width: 24px;
    height: 24px;
    accent-color: var(--gray-color);
    cursor: pointer;
}

.forgot-pass-text {
    background: none;
    border: none;
    padding: 0;
    margin: 16px auto 0;
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray-color);
    cursor: pointer;
    font-weight: 400;
    text-decoration: underline;
    transition: color 0.4s ease;
}

.forgot-pass-text:hover {
    color: var(--dark-color);
}

.log-in-btn {
    background-color: #B3B3B3;
    padding: 12px 16px;
    margin: 16px auto 0;
    width: 200px;
}

/* sign in - end */

/* forgot password - start */
/* step1 */
#forgot-pass-container1 {
    display: none;
    /* görünür olduğunda flex olacak */
    overflow: hidden;
}

#forgot-pass-left1 {
    background: linear-gradient(180deg, #62CE94, #55AACC);
    animation: gradientFlowVertical 10s ease-in-out infinite;
    background-size: 100% 400%;
}

.forgot-pass-form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 54px;
    margin-top: 32px;

}

.back-btn {
    background-color: #D5D5D5;
    width: 119px;
}

.next-btn {
    background-color: #B3B3B3;
    width: 199px;
}

/* step2 */
#forgot-pass-container2 {
    display: none;
    /* görünür olduğunda flex olacak */
    overflow: hidden;
}

#forgot-pass-left2 {
    background: linear-gradient(to bottom, #4BD98D, #40ABD5);
    animation: gradientFlowVertical 10s ease-in-out infinite;
    background-size: 100% 400%;
}

#forgot-pass-verification-code, #sign-up-verification-code {
    width: 139px;
    padding-left: 32px;
}

#forgot-pass-verification-code.filled, #sign-up-verification-code.filled {
  border-color: #FFBF00 !important;
}

#forgot-pass-verification-code+label, #sign-up-verification-code+label {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.animate-border {
  animation: borderPulse 1.5s infinite ease-in-out;
}

/* step3 */
#forgot-pass-container3 {
    display: none;
    /* görünür olduğunda flex olacak */
    overflow: hidden;
}

#forgot-pass-left3 {
    background: linear-gradient(to bottom, #32F48D, #36BFF5);
    animation: gradientFlowVertical 10s ease-in-out infinite;
    background-size: 100% 400%;
}

.done-btn {
    width: 200px;
    margin-top: 40px;
    background-color: #B3B3B3;
}

/* step4 */
#forgot-pass-container4 {
    display: none;
    /* görünür olduğunda flex olacak */
    max-width: 500px;
}

#forgot-pass-left4 {
    padding: 106px 32px;
    background: linear-gradient(to bottom, #00FF77, #07BDFF);
    animation: gradientFlowVertical 10s ease-in-out infinite;
    background-size: 100% 400%;
    border-radius: 4px;
}

.sign-in-btn {
    width: 200px;
    background-color: #00FF5E;
    margin-top: 54px;
}

/* forgot password - end */

/* sign up - start */
/* step1 */
#sign-up-container1 {
    display: none;
    /* görünür olduğunda flex olacak */
    overflow: hidden;
}

#sign-up-left1 {
    background: linear-gradient(to bottom, #BEBC53, #5E47B1);
    animation: gradientFlowVertical 10s ease-in-out infinite;
    background-size: 100% 400%;

}

.sign-up-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 54px;
    margin-top: 32px;
}

/* step2 */
#sign-up-container2 {
    display: none;
    /* görünür olduğunda flex olacak */
    overflow: hidden;
}

#sign-up-left2 {
    background: linear-gradient(to bottom, #E4E163, #5E47B1);
    animation: gradientFlowVertical 10s ease-in-out infinite;
    background-size: 100% 400%;
}

.verify-btn {
    width: 200px;
    background-color: #B3B3B3;
    margin-top: 32px
}

/* step3 */
#sign-up-container3 {
    display: flex;
    /* görünür olduğunda flex olacak */
    position: relative;
    overflow: hidden;
}

#sign-up-left3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #EFED5A, #593CC3);
    animation: gradientFlowVertical 10s ease-in-out infinite;
    background-size: 100% 400%;
    z-index: 0;
}

#sign-up-right3 {
    position: relative;
    flex: none;
    margin: auto;
    width: 500px;
    background-color: #FFFFFF;
    box-shadow: 0px 0 8px rgba(0, 0, 0, 25%);
    z-index: 500;
}



.sign-up-form3 label {
    left: 20px;
}

.sign-up-form3 input {
    padding-left: 20px;
}

.sign-up-form3 .input-group {
    margin-top: 8px;
}

.input-section-title {
    margin-top: 24px;
    font-weight: 500;
}

/* Fullname input */
#sign-up-fullname {
    display: flex;
    gap: 8px;
}

#sign-up-fullname .input-group {
    margin-top: 8px;
}

#sign-up-fullname input {
    width: 182px;
}

/* Birthday input */
#sign-up-birthday {
    display: flex;
    gap: 28px;
}

#sign-up-birthday input {
    width: 106px;
    text-align: center;
    padding-left: 8px;
}

#sign-up-birthday label {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* Profile picture input */
.profile-pic-container {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.profile-pic-wrapper {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #ccc;
    margin: 8px auto 0;
    overflow: hidden;
}

.profile-pic-wrapper label {
    left: -1px;
    bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    cursor: pointer;
    position: relative;
}

#profile-preview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 52px;
    height: 63px;
    object-fit: contain;
    z-index: 1;
}

.reset-picture-btn {
    display: none;
    /* sadece resim yüklendiğinde gösterilecek */
    top: 50%;
    left: 136px;
    transform: translateY(-50%);
    position: absolute;
    background: none;
    border: none;
    color: #FF5100;
    cursor: pointer;
    padding: 0;
    transition: color 0.3s ease;
}

.reset-picture-btn:hover {
    color: var(--dark-color);
}

/* Kullanıcı görseli yüklediğinde geçerli olacak sınıf */
#profile-preview.uploaded {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 4px;
    z-index: 2;
    transition: transform 0.4s ease;
    transform-origin: center center;
}

.profile-pic-wrapper:hover .edit-icon {
    transform: translate(-50%, -50%) scale(1.2);

}

#sign-up-profile-picture {
    display: none;
}

/* Gender input */
.gender-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 372px;
    margin-top: 8px;
}

.gender-option {
    left: 0 !important;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    color: var(--gray-color);
    cursor: pointer;
    position: relative;
}

.gender-option input[type="radio"] {
    display: none;
}

.custom-radio {
    width: 24px;
    height: 24px;
    border: 2px solid #8E8E8E;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transition: border-color 0.4s ease;
}

.gender-option input[type="radio"]:checked+.custom-radio::after {
    background-color: #000;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.gender-option input[type="radio"]:checked+.custom-radio {
    border-color: var(--dark-color);
}

.custom-radio::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform 0.4s ease, background-color 0.4s ease, opacity 0.4s ease;
}

/* Location input */
#sign-up-location {
    display: flex;
    gap: 91px;
}

#sign-up-location input {
    width: 140px;
}

/* Bio input */
#sign-up-bio {
    height: 200px;
}

.sign-up-form3 .next-btn {
    margin-top: 32px;
}

/* step4 */
#sign-up-container4 {
    display: none;
    /* görünür olduğunda flex olacak */
    overflow: hidden;
}

#sign-up-left4 {
    background: linear-gradient(to bottom, #FFFB0D, #4714FF);
    animation: gradientFlowVertical 10s ease-in-out infinite;
    background-size: 100% 400%;
}

.checkmark-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.checkmark {
    width: 200px;
    height: 200px;
    stroke: #00FF5E;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    background: none;
}

.checkmark-circle {
    stroke: #00FF5E;
    stroke-dasharray: 339.292;
    stroke-dashoffset: 339.292;
    animation: draw-circle 0.8s ease-out forwards;
}

.checkmark-check {
    stroke: #00FF5E;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: draw-check 0.5s ease-out 0.8s forwards;
}

#sign-up-right4 .sign-in-btn {
    margin-top: 32px !important;
}

/* sign up - end */

@keyframes draw-circle {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes draw-check {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes gradientFlowVertical {
    0% {
        background-position: 50% 0%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 50% 0%;
    }
}

@keyframes borderPulse {
  0% {
    border-color: #FFBF00; /* sarı */
  }
  50% {
    border-color: #00FF5E; /* yeşil */
  }
  100% {
    border-color: #FFBF00;
  }
}
